/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own
        base_layer {
            bindings = <
                          &kp 1     &kp 2     &kp 3     &kp 4
                &kp Shift     &kp W     &kp E     &kp R     &kp T     
                &kp Ctrl     &kp S     &kp D     &kp F     &kp G     
                &kp Tab     &kp X     &kp C     &kp V     &kp B    
                                              &kp bind   &kp Space 
            >;
        };

    };
};
